@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  /*general*/
  --border-radius: 3px;
  /*code highlighting*/
  --sh-class: #2d5e9d;
  --sh-identifier: var(--text-light);
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
  /* theming */
  --bg-light: #f9f9f9;
  --bg-light-active: #e6e6e6;
  --text-light: #21262c;
  --bg-dark: #1a1a1a;
  --bg-dark-active: #2a2a2a;
  --text-dark: #d3d3d3;
  --link-color-light: #0e70bb; /* Slightly darker than #47a3f3 */
  --link-color-light-hover: #224e86; /* Slightly darker than #2d5e9d */
  --link-color-dark: #47a3f3;
  --link-color-dark-hover: #2d5e9d;
}

[data-theme="dark"],
[data-theme="dark"] :root {
  --sh-class: #4c97f8;
  --sh-identifier: var(--text-dark);
  --sh-keyword: #f47067;
  --sh-string: #0fa295;
}

pre {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(217, 223, 235);
}

[data-theme="dark"] pre {
  background-color: rgb(36, 38, 44);
}

html {
  min-width: 360px;
  scrollbar-gutter: stable both-edges;
}

html,
body {
  color: var(--text-light);
  background-color: var(--bg-light);
  font-family: "Lato", sans-serif;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color-scheme: dark;
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

/*Links styling*/
a {
  color: var(--link-color-light);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-light-hover);
  text-decoration: underline;
}

[data-theme="dark"] a {
  color: var(--link-color-dark);
}
[data-theme="dark"] a:hover {
  color: var(--link-color-dark-hover);
}

/* hr */
hr {
  border: 0;
  border-top: 1px solid #c2c2c2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
[data-theme="dark"] hr {
  border: 0;
  border-top: 1px solid #292929;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

main {
  width: 100%;
  max-width: 100%;
  padding: 0 1rem;
}

/* Tablets: Adjusting width to 80% */
@media (min-width: 768px) and (max-width: 1024px) {
  main {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
  }
}

/* Desktops: Fixed width of 800px */
@media (min-width: 1025px) {
  main {
    width: 700px;
    max-width: 700px;
    margin: 0 auto;
  }
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

/* section */
section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* General select styling */
select {
  background-color: var(--bg-light);
  color: var(--text-light);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  border: 1px solid var(--bg-light-active);
}

[data-theme="dark"] select {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  border: 1px solid var(--bg-dark-active);
}

/* Option styling */
select option {
  background-color: var(--bg-light);
  color: var(--text-light);
}

[data-theme="dark"] select option {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}
