select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-color: var(--bg-light) !important;
  color: var(--text-light) !important;
  border: 1px solid #ccc !important;
  padding: 0.25em 0.5em !important;
  border-radius: var(--border-radius) !important;
  font-size: 14px !important;
  cursor: pointer !important;
}

/* Style options */
select option {
  background-color: var(--bg-light) !important;
  color: var(--text-light) !important;
  font-size: 1em !important;
}

/* Hover styles for options */
select option:hover {
  background-color: var(--bg-dark) !important;
  color: var(--text-dark) !important;
}

/* Hover styles for select */
select:hover {
  background-color: var(--bg-light-active) !important;
}

/* Styling for selected option */
select option:checked {
  background-color: var(--link-color-light) !important;
  color: var(--text-light) !important;
}

/* dark mode */
[data-theme="dark"] {
  select {
    background-color: var(--bg-dark) !important;
    color: var(--text-dark) !important;
    border: 1px solid #333 !important;
  }

  select:hover {
    background-color: var(--bg-dark-active) !important;
  }
}
