select {
  background-color: var(--bg-light);
  color: var(--text-light);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  border: 1px solid var(--bg-light-active);
}

/* Hover styling for select */
select:hover {
  background-color: var(--bg-light-active);
}

/* Select styling for dark theme */
[data-theme="dark"] select {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  border: 1px solid var(--bg-dark-active);
}

/* Hover styling for select in dark theme */
[data-theme="dark"] select:hover {
  background-color: var(--bg-dark-active);
}

/* Option styling */
select option {
  background-color: var(--bg-light);
  color: var(--text-light);
}

/* Hover styling for option */
select option:hover {
  background-color: var(--bg-light-active);
}

/* Option styling for dark theme */
[data-theme="dark"] select option {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

/* Hover styling for option in dark theme */
[data-theme="dark"] select option:hover {
  background-color: var(--bg-dark-active);
}
